body {
    background-image: linear-gradient(to right, #3db88f, #67de52);
}

.title {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 25px;
    font-size: 64px;
}

.no-display {
    display: none;
}
